@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
section {
    height: 90vh;
    display: flex; align-items: center; justify-content: center;
}

#home{
    background:#e6e6e6;
}
#about_us {
    background:#ffffff;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
#content{
    background: #e6e6e6c9;

}
#contact{
    background:#e6e6e6;
    height: 50vh;
    
}

header{

    background-color: #f7b600;
    padding: 15px;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    
    border-bottom: 1px solid #fff;

}
.logo{
    /* background: pink; */
    display: flex;
    align-items: center;
    height: 80px;
    width: 340px;
    padding: 8px 20px;
    font-size: 64px;
    /* font-family: 'Tilt Prism', cursive; */
    font-family: 'Poiret One', cursive;
    font-weight: 900;
   
}



span{
    
    color:#fff;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #000;
    
}
.boxInput{
    /* background: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.boxInput input{ 
    border-radius:10px 0px 0px 10px;
    width: 450px;
    padding: 8px 20px;
    margin-right:5px;
    outline: none;
    border: none;
 
  
    
}
button ion-icon{
    font-size: 19px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius:0px 0px 10px 10px;
 
}
.boxInput button{
    border: none;
}


nav{
    /* background: #080; */
    width: 1200px;
    height: 110px;
    display:flex;
    align-items: center;  /* conceito de flex-box: display: flex  coloca um ao lado do outo, align-items: alinha ao centro ou dependendo da posição, justyfi-content: centraliza, meio , inicio */
    justify-content:space-between;
    padding: 10px;
}
.cad{
    /* background: #dddddd; */
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cad li:nth-child(2){
    /* background: #f78c00; */
    background: #069;
    border-radius: 10px;

}


nav ul {
    display: flex;

}
nav ul li{
    margin-left: 15px;
    list-style: none;
    padding: 5px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 1.4em;
    padding: 2px 4px;
    color: #000;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
    font-weight: 900;
}

nav ul li a:link, a:visited{
    /* background: red; */
}

nav ul li a:hover{
    background: white;
    color: #f7b600;
    border-radius: 3px;
    /* background: #f7b600; */
}


/* Css styleSheet para a folha de Html*/


.boxContent{
    /* background: red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 90px 30px;
    position: relative;

    left: 20%;
    /* margin: 0 auto; */
    width: 1300px;
}
.content{
    background: #fff;
    width: 1200px;
    height: 900px;
    padding:  30px;
    /* box-shadow: 10px 10px 35px black; */
   
}
.navBar{
    width: 300px;
    background: #c4c7c7;
    /* box-shadow: 1px 1px 1px black; */
    border-bottom: none;
    border-right: 1px solid #000;
    height: 557px;
    margin-right: 30pX;
    position:fixed;
    left: 4px;
}

.text1{
   /* background: #069;    padding: 20px; */
   margin-bottom: 50px;
   margin-top: 100px;
   width: 1100px;
   text-align: left;
   


}

.text2{
    /* background: #069;  */
    padding: 120px 0px;  
    margin-bottom: 50px;
    margin-top: 0px;
    width: 1500px;
    text-align: left;
    color: #4b4a4a;
    font-size: 25px;
    
 
 
 }

 .text3{
    /* background: #069;    padding: 20px; */
    margin-bottom: 50px;
    margin-top: 0px;
    width: 1400px;
    text-align: left;
    color: #000000;
    font-size: 26px;
    display: block;
 
 
 }

 .text2 .box-p1{
    font-family: 'Poiret One', cursive;

 }
 


.text1 h1{
    display: flex;
    font-size: 75px;
    font-family: 'Poiret One', cursive;
    color: #4b4a4a;



}

.text2 h1{
    margin-top: 0;
    display: flex;
    font-size: 75px; 
    font-family: 'Poiret One', cursive;
    color: #4b4a4a;



}

.text3 h3{
    display: flex;
    font-size: 55px;
    font-family: 'Poiret One', cursive;
    color: #4b4a4a;



}
.desc{
    width:100%;
    /* background: #069; */
   
    margin-bottom: 60px;
   
    height: 200px;
    font-size: 23px;
    text-transform: capitalize;
 
    
 
}
.exp img{
    
   width: 400px;
   height: 250px;
}
.exp{
    background: #c4c7c7;
    margin-bottom: 100px;
    margin-top: 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sintax{
    font-size: 45px;
    font-family: 'Poiret One', cursive;
}


#home{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li #link{
    width: 300px;
    height: 50px;
    background: #fff left bottom;
    text-decoration: none;
    color:black;
    /* text-indent: 30px; */
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    /* border: 1px solid #000; */
}
/* 
a:link a:visited {
    
    color:white;
    background: #f7b600 right bottom;
} */

#link:hover {
    color:white;
    background: #f7b600 right bottom;
}

#link
{

    color:white;
    background: orangered right bottom;
}



* {
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 50vh;
    background-color: black;
    /* margin: 20vh auto; */
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
    border: px solid black;
}

.container-items {
    position: absolute;
    display: flex;
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 70vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}
.action-button:hover{
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}


.wrapper{
    /* background: #069; */
    top:35%;
    left: 50%;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
}